/* This file is for your main application css. */

@import "./phoenix.css";

table {
  border-collapse: collapse;
  width: 500px;
  height: 500px;
  background: #ffffff;
}

td {
  border: 1px solid #ccc;
  padding: 0;
}

.battlefield > table {
  width: 340px;
  height: 340px;
}

.battlefield {
  display: block;
  float: left;
  padding: 1em;
  width: 50%;
}

.disabled {
  opacity: 0.3;
}
