/* This file is for your main application css. */

@import "./phoenix.css";

table {
  border-collapse: collapse;
  width: 500px;
  height: 500px;
  background: #ffffff;
}

td {
  border: 1px solid #ccc;
  padding: 0;
}

