/* This file is for your main application css. */

@import "./phoenix.css";

#create-game {
  padding-right: 10%;
}

#play-button {
  padding: 0 35% 0 35%;
}

table {
  border-collapse: collapse;
  width: 550px;
  height: 550px;
  background: #ffffff;
}

th {
  border: 0;
  text-align: center;
  padding: 0;
  width: 50px;
  height: 0.5em;
  color: #c4c4c2;
}

td {
  border: 1px solid #ccc;
  padding: 0;
}

td.rows-heading {
  border: 0;
  text-align: right;
  padding-right: 0.5em;
  color: #c4c4c2;
  font-weight: bold;
  width: 5%;
}

.battlefield > table {
  width: 340px;
  height: 340px;
}

.battlefield {
  display: block;
  float: left;
  padding: 1em;
  width: 50%;
}

.disabled {
  opacity: 0.4;
}

.hidden {
  display: none;
}

.alive {
  background-color: #0000ff;
}
.hit {
  background-color: #ff000091;
}
.water {
  background-color: #d5d5fb63;
}
