<div class="phx-hero">
  <form action="<%= Routes.game_path(@conn, :index) %>" method="post">
    <table id="grid"></table>
    <input type="hidden" id="ships" />
    <input type="submit" value="Play!" />
    <input type="hidden" value="<%= @token %>" name="_csrf_token"/>
  </form>
</div>
