<div id="create-game">
  <%= form_for @conn, Routes.game_path(@conn, :create), fn f -> %>
    <table id="new-grid"></table>
    <%= hidden_input f, :ships %>
    <div id="play-button"><%= submit "Play!" %></div>
  <% end %>
</div>
